.begin{
    background-image: url("./Images/hero-cover.3.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.house{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
nav ul>li{
    display: inline-block;
    padding: 20px
}
h1{
    text-align: center;
}

.begina{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
} 
.puri{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
   
}
#one{
    background-color: rgb(7, 7, 216);

}
.gone{
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.mother{
    background-color: whitesmoke;
}
 img{
    float: left;
    padding: 40px;
}
.blue{
    background-color: rgb(30, 30, 56);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-between;
    
}
.lastie{
    position: relative;
    top: 20px;
    left: 200px;
}
button{
    background-color: blue;
    color: white;
}
.footie{
    background-color: white;
    display: flex;
    justify-content: space-around;

}
.footie ,li{
    list-style: none;
}
.man{
    background-color: whitesmoke;
}


























