body{
    background-color: whitesmoke;
}
.begin{
    background-image: url("./Images/hero-cover.3.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.house{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
}
nav ul>li{
    display: inline-block;
    padding: 20px;
    color: white;
}

.begina{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
} 
.lost{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
}
.three button{
    border-radius: 20px;
    padding:10px 20px;
}
#sem{
    background-color: rgba(0,0,0,0);
    border-radius: 20px;
    padding:10px 20px;
}

.puri{
    display:flex;
    position: relative;
    top: 180px;
    justify-content: space-around;
    align-items: center;
  
}
.puri div{
    height: 100px;
    padding: 20px;
    border: 2px solid black;
    margin-left: 60px;
   
}
#one{
    background-color : #23a6f2 ;

}
#two{
    background-color: white;
}
.Gone{
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-top: 150px;
}
.Gone div{
    padding: 28px;
    text-align: center;
    width: 170px;
}
.mother{
    display: flex;
    flex-direction: column;
}
.first{
    text-align: center;

}
 .movie{
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.movie div{
    text-align: center;
    border: 2px solid grey;
    padding: 28px;
    margin-left: 40px;
    height: 300px;
}
.divas{
    display: inline-block;
    padding: 100px;
}
.color{
    color: white;
    background-image: linear-gradient(to right,rgb(204, 0, 255)
     rgb(255, 192, 250 rgb(231, 19, 143)));
    padding: 58px;
    text-align: center;

}
.lastie{
    position: absolute;
    left: 100 ;
    top: 100;
    
}
.baby{
    text-align: center;
}
.ruler{
    display: flex;
    justify-content: center;

}
.ruler div{
border: 2px solid rgb(4, 4, 228);
text-align: center;

}
.todo{
    background-color: rgba(30, 30, 56);
    color: white;

}
.ruler ol li{
    padding: 10px;
}
.ruler button{
    padding: 20px;
}
.blue{
    background-color: rgb(30, 30, 56);
    color: white;
    display: flex;
}
.since{
     display: flex;
    justify-content: space-around;
}
button{
    background-color:#23a6f2;
    color: white;
}
.footie{
    background-color: white;
    display: flex;
    justify-content: center;

}
.footie ,li{
    list-style: none;
}
.man{
    background-color: whitesmoke;
    padding: 20px;
}
.man img{
    float: right;
}
.man p{
    float: left;
}


























